.project
.vscode
/phpinfo.php
resources/config.php
secure/mailto.bat
secure/*.db
secure/*.sqlite
.DS_Store

*.php~

app/yealink/resources/firmware/*

# Laravel Admin Panel
laravel-admin-panel/vendor/
laravel-admin-panel/node_modules/
laravel-admin-panel/.env
laravel-admin-panel/storage/*.key
laravel-admin-panel/storage/logs/
laravel-admin-panel/storage/framework/cache/
laravel-admin-panel/storage/framework/sessions/
laravel-admin-panel/storage/framework/views/
